.default-body {
    background: #f0f0f0;
}

.main-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4d4d4d;
    background-color: #d4d4d4;
    border-radius: 3px;
    padding: 20px;
}
